producer-service/out/
producer-service/build/
producer-service/target/

notifier-service/out/
notifier-service/build/
notifier-service/target/
notifier-service/.vertx/

persister-service/out/
persister-service/build/
persister-service/target/

reader-service/out/
reader-service/build/
reader-service/target/

terraform/.terraform/
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/ssh-keys/*

.gradle/
.idea/
.vertx/
gradle/
gradlew
gradlew.bat
