body {
    background-color: #f5f5f5;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 0.7em;
}

.container {
}

.row {
}

.col {
    padding-right: 7px;
    padding-left: 7px;
}
