.picture-active {
    opacity: 1;
}

.picture-inactive {
    opacity: 0.4;
}

.picture-grid {
    color: black;
    font-weight: bold;

    display: grid;
    grid-gap: 0px;
    grid-template-rows:    repeat(7, 1fr);
    grid-template-columns: repeat(7, 1fr);

    height: 100%;

    opacity: 0.4;
}

.picture-kafka {
    grid-row: 4;
    grid-column: 2;

    width: 100%;

    background-image: url('../images/kafka.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.picture-cassandra {
    grid-row: 4 / 6;
    grid-column: 6;

    width: 100%;

    background-image: url('../images/cassandra.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin picture-service($row, $col) {
    grid-row: $row;
    grid-column: $col;

    background-image: url('../images/gear.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;

    background-color: silver;

    line-height:22px;
    vertical-align: middle;

    padding-left: 4px;
    padding-right: 22px;
    margin: 10px;

    border: 3px;
    border-radius: 5px;
    border-style: solid;
}

.picture-service-producer {
    @include picture-service(2, 2);
}

.picture-service-notifier {
    @include picture-service(6, 2);
}

.picture-service-persister {
    @include picture-service(4, 4);
}

.picture-service-reader {
    @include picture-service(2, 6);
}

@mixin arrow($row, $col, $rotation) {
    grid-row: $row;
    grid-column: $col;

    background-image: url('../images/arrow.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    transform: rotate($rotation);
}

.picture-arrow-1 {
    @include arrow(1, 1, 30deg);
}

.picture-arrow-2 {
    @include arrow(2, 1, 0deg);
}

.picture-arrow-3 {
    @include arrow(1, 2, 90deg);
}

.picture-arrow-4 {
    @include arrow(3, 2, 90deg);
}

.picture-arrow-5 {
    @include arrow(5, 2, 90deg);
}

.picture-arrow-6 {
    @include arrow(7, 2, 90deg);
}

.picture-arrow-7 {
    @include arrow(4, 3, 0deg);
}

.picture-arrow-8 {
    @include arrow(4, 5, 0deg);
}

.picture-arrow-9 {
    @include arrow(1, 6, 270deg);
}

.picture-arrow-10 {
    @include arrow(3, 6, 270deg);
}
