.picture-cassandra {
    grid-row: 4 / 6;
    grid-column: 6;

    width: 100%;

    background-image: url('../images/cassandra.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
