.output-request-group {
    display: grid;
    grid-template-columns: auto;
}

.output-request-control {
    opacity: 0.8;
    background-color: lightgray;

    white-space: pre;
    overflow-wrap: normal;
}
