.output-text-group {
    display: grid;
    grid-template-columns: 50px auto;
}

.output-text-control {
    opacity: 0.8;
    background-color: lightgray;

    white-space: pre;
    overflow-wrap: normal;
}
