.output-connection-status-control-connecting {
    color: orange;
}

.output-connection-status-control-open {
    color: green;
}

.output-connection-status-control-closed {
    color: red;
}

.output-connection-status-control-paused {
    color: gray;
}
